/* common rules */

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

:root {
      --primary: #0084FD;
      --primary_light: #B5DDFF;
      --secondary: #9792E4;
      --dark: #333333;
      --darkness: #000000;
      --alert: #FDC15F;
      --light: #FFFFFF;
}

/* #region Debug */

.debug .container {
      height: 150px;
      border: 1px solid;
}

.debug .logo,
.debug .main_menu {
      width: 50px;
      border: 1px solid;
      background-color: lightcoral;
}

/* #endregion Debug */


/* #region Utilities */

.container {
      width: 80%;
      margin: 0 auto;
      display: flex;
}

/* #endregion Utilities */

/* #region Header */

header {
      background-color: var(--primary);
}

header .container {
      justify-content: space-between;
}
/* #endregion Header */